body{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 800px;
    height: 920px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0.1px solid transparent;
    background-color: gainsboro;
    box-shadow: 30px 30px 5px gray;
}


h1{
    margin-left: 10px;
}

h2{
    margin-left: 110px;
    background-color: cadetblue;
    width: 100px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: width 0.3s;
}

h2:hover{
    width:150px;
    background-color: cornflowerblue;
}

.sidebar{
    float: left;
    width: 90px;
    height: 920px;
    background-color: cadetblue;
}

.sidebar p{
}

/* >代表：所有符合的子(儿子)元素（非所有后代元素） */
.info .info-content > .info-item{
    /* border: 1px solid black; */
    margin-right: 30px;
}

.info-content{
    margin-left: 110px;
}

/* info下的span偶数索引的（nth-child和一般想的不同） */
.info span:nth-child(odd){
    font-weight: bold;
}

.contact .contact-content > .contact-item{
    margin-right: 30px;
}

.contact-content{
    margin-left: 110px;
}

.contact span:nth-child(odd){
    font-weight: bold;
}

.ability .ability-item{
    margin-left: 110px;
}

.edu .edu-item{
    margin-left: 110px;
}

.proexp .proexp-item{
    margin-left: 110px;
}

.proexp .proexp-item p::first-letter{
    font-size: 20px;
    color: brown;
}


.footer{
    text-align: center;
}
